/*

PALETA DE COLORES

#A193F1 violeta claro
#6D07E6 violeta oscuro
#121249 azul ultramar
#444444 gris oscuro
#FFD371 amarillo

*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
html {
    font-family: 'Roboto';
}

header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: fixed;
    height: 8vh;
    background-color: white;
    color: #6D07E6;
    width: 100%;
    justify-content: space-around;
    align-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
    z-index: 1;
}

img#navbar_logo{
    height: 5.5vh;
    width: auto;
    align-self: center;
}

nav#navbar_searchbar{
    align-self: center;
    display: flex;
    align-content: center;
    font-size: 0.8em;
    height: 60%;
    border-radius: 5%;
    padding: 0.2em;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;}

input#search{
    border: none;
    height: 1em;
    align-self: center;
    width: 30vw;
}

nav#navbar_searchbar i{
    padding-left: 0.5em;
    align-self: center;

}

nav#menu{
    align-self: center;
    font-size: 1em;
    margin: 0px 0.5em 0px 0.5em;
}

nav#menu a{
    color: inherit;
    text-decoration: none;
    padding: 0.1em;
}