/*

PALETA DE COLORES

#A193F1 violeta claro
#6D07E6 violeta oscuro
#121249 azul ultramar
#444444 gris oscuro
#FFD371 amarillo

*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
    font-family: 'Roboto';
    font-size: 16px;
}

header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: fixed;
  top: 0;
  height: 8vh;
  background-color: white;
  color: #6d07e6;
  width: 100%;
  justify-content: space-around;
  align-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px;
  z-index: 1;
  }

img#navbar_logo{
    height: 5.5vh;
    width: auto;
    align-self: center;
}

nav#navbar_searchbar{
    align-self: center;
    display: flex;
    align-content: center;
    font-size: 1.5rem;
    height: 60%;
    border-radius: 2px;
    padding: 0.2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;}

input#search{
    border: none;
    height: 1rem;
    align-self: center;
    width: 30vw;
}

nav#navbar_searchbar i{
    padding-left: 0.5rem;
    align-self: center;
}

nav#menu{
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.5rem;
}

nav#menu a {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  color: inherit;
  text-decoration: none;
  padding: 0.1em;
  margin: 0px 0.5rem 0px 0.5rem;

}



nav#accesos , nav#menu a p{
  display: none;
}

@media (min-width: 760px){

  nav#menu a p {
    display: inline;
    font-size: 1rem;
    margin-right: 0.5rem;
    color: #777777;
  }
}

@media (min-width: 1060px){
  nav#accesos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    font-size: 1.2rem;
  }

  nav#accesos a{
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 0.5rem;
    color: #777777;
    margin: 0 1rem 0 1rem;
    text-decoration: none;
  }
}