<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>New FuTure</title>
        <link rel="stylesheet" href="../../public/css/fonts.css">
        <link rel="stylesheet" href="../../public/css/header.css">
        <link rel="stylesheet" href="../../public/css/footer.css">
        <link rel="stylesheet" href="../../public/css/home.css">

        <link href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"  rel="stylesheet" />
    </head>
    <body>
        <header>
            <img id="navbar_logo"src="../../public/img/LOGO_DEMO.png">
            <nav id="navbar_searchbar">
                <input id="search" ><i class="fas fa-search"></i>
            </nav>
            <nav id="menu">
                <a id="navbar_login" class="fas fa-user" href=""></a>
                <a id="navbar_cart" class="fas fa-shopping-cart" href=""></a>
            </nav>
        </header>
    </body>
</html>
