<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>New FuTure</title>
        <link rel="stylesheet" href="../../public/css/fonts.css">
        <link rel="stylesheet" href="../../public/css/header.css">
        <link rel="stylesheet" href="../../public/css/footer.css">
        <link rel="stylesheet" href="../../public/css/home.css">

        <link href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"  rel="stylesheet" />
    </head>
    <body>
        <header>
            <a href="/"><img id="navbar_logo" src="../../public/img/LOGO_DEMO.png"></a>
            <nav id="navbar_searchbar">
                <input id="search" ><i class="fas fa-search"></i>
            </nav>
            <nav id="accesos">
                <a href="/market">Market</a>
                <a href="">Stats</a>
                <a href="">FAQs</a>
            </nav>
            <nav id="menu">
                <a id="navbar_login" href="/login">
                    <p>Login</p>
                    <i class="fas fa-user"></i>
                </a>
                <a id="navbar_cart" href="/likes">
                    <p>Cart</p>
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </nav>
        </header>
        <main>
            <section id="main_banner">
                <div id="main_banner_featured">
                    <div id="welcome_text">
                        <h1>EL FUTURO, AHORA.</h1>
                        <p>Se parte de la nueva generacion de artistas digitales</p>
                        <a class="main_banner_button" id="main_banner_to_market">Explorar</a>
                        <a class="main_banner_button" id="main_banner_to_create">Crear</a>
                    </div>
                    <div id="main__featured_artist">
                        <img src="../../public/img/nft-example-2.jpg" id="main_featured_img">
                        <div id="main_banner_featured_description">
                            <div id="fakeimage">a</div>
                            <p>by Esteban Trabajos</p>
                        </div>
                    </div>
                </div>
            </section>

            <section id="setup">
                <h2>Publica tus NFTs hoy mismo</h2>
                <div id="faqs_conteiner">
                    <article class="setup_steps">
                        <img>
                        <p class="setup_steps_title">step1</p>
                        <p class="setup_steps_description">This should say something about the step an maybe contain a related link</p>
                    </article>
                    <article class="setup_steps">
                        <img>
                        <p class="setup_steps_title">step1</p>
                        <p class="setup_steps_description">This should say something about the step an maybe contain a related link</p>
                    </article>
                    <article class="setup_steps">
                        <img>
                        <p class="setup_steps_title">step2</p>
                        <p class="setup_steps_description">This should say something about the step an maybe contain a related link</p>
                    </article>
                    <article class="setup_steps">
                        <img>
                        <p class="setup_steps_title">step3</p>
                        <p class="setup_steps_description">This should say something about the step an maybe contain a related link</p>
                    </article>
                    <article class="setup_steps">
                        <img>
                        <p class="setup_steps_title">step4</p>
                        <p class="setup_steps_description">This should say something about the step an maybe contain a related link</p>
                    </article>
                </div>
            </section>
            
        </main>
        <footer>
           <section id="footer_newsteller">
               <h2>No te pierdas nada!</h2>
               <p>dasdasdadasdasdasdadadasdasda</p>
               <form id="footer_newsteller_form">
                    <input type="email" id="email_input" placeholder="Tu correo...">
                    <button type="submit">Subscribirme</button>
               </form>
           </section>
           <section id="footer_redes">
               <h2>Seguinos en redes :)</h2>
               <nav id="redes">
                <a href="" id='first'><i class="fab fa-twitter" ></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-discord"></i></a>
                <a href=""><i class="fab fa-reddit-alien"></i></a>
                </nav>
           </section>

           <!-- <section id="footer_aboutus">
                <img src="../../public/img/LOGO_DEMO.png">
                <h>new future</h>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, praesentium accusantium.</p>
            </section> -->

           <section id="footer_links">
               <nav class="footer_links_list">
                   <h2>titulo</h2>
                   <ul>
                       <li>uno</li>
                       <li>dos</li>
                       <li>tres</li>
                       <li>cuatro</li>
                   </ul>
               </nav>

               <nav class="footer_links_list">
                <h2>titulo</h2>
                <ul>
                    <li>uno</li>
                    <li>dos</li>
                    <li>tres</li>
                    <li>cuatro</li>
                </ul>
            </nav>

            <nav class="footer_links_list">
                <h2>titulo</h2>
                <ul>
                    <li>uno</li>
                    <li>dos</li>
                    <li>tres</li>
                    <li>cuatro</li>
                </ul>
            </nav>

            <nav class="footer_links_list">
                <h2>titulo</h2>
                <ul>
                    <li>uno</li>
                    <li>dos</li>
                    <li>tres</li>
                    <li>cuatro</li>
                </ul>
            </nav>
           </section>     
        </footer>
    </body>
</html>
