<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Likes</title>
    <link rel="stylesheet" href="../../public/css/fonts.css" />
    <link rel="stylesheet" href="../../public/css/header.css" />
    <link rel="stylesheet" href="../../public/css/footer.css" />
    <link rel="stylesheet" href="../../public/css/likes.css" />
    <link href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"  rel="stylesheet" />
  </head>
  <body>
    <header>
      <img id="navbar_logo" src="../../public/img/LOGO_DEMO.png" />
      <nav id="navbar_searchbar">
        <input id="search" /><i class="fas fa-search"></i>
      </nav>
      <nav id="menu">
        <a id="navbar_login" class="fas fa-user" href=""></a>
        <a id="navbar_cart" class="fas fa-shopping-cart" href=""></a>
      </nav>
    </header>
    <main>
        <article class="general-content">
       <article class="content"> 
           <article class="property-card">
            <a href="#">
              <img class="property-image" src='../../public/img/nft-example-1.jpg'>
                <div class="property-image-title">
                </div>
              </img></a>
            <div class="property-description">
              <h4> Card Title </h4>
              <p class="text-description">Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
            </div>
            <a href="#">
              <div class="property-social-icons">
                <i class="fas fa-heart"></i>
              </div>
            </a>
          </article>
          <article class="property-box">
                <p class = 'property-box-p '>$Precio</p>
                <button class="checkout-button">Checkout</button>
          </article>
        </article>
        <article class="content"> 
            <article class="property-card">
             <a href="#">
               <img class="property-image" src='../../public/img/nft-example-2.jpg'>
                 <div class="property-image-title">
                 </div>
               </img></a>
             <div class="property-description">
               <h4> Card Title </h4>
               <p class="text-description">Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
             </div>
             <a href="#">
               <div class="property-social-icons">
                <i class="fas fa-heart"></i>
               </div>
             </a>
           </article>
           <article class="property-box">
                 <p class = 'property-box-p '>$Precio</p>
                 <button class="checkout-button">Checkout</button>
           </article>
         </article>
         <article class="content"> 
            <article class="property-card">
             <a href="#">
               <img class="property-image" src='../../public/img/nft-example-3.jpg'>
                 <div class="property-image-title">
                 </div>
               </img></a>
             <div class="property-description">
               <h4> Card Title </h4>
               <p class="text-description">Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
             </div>
             <a href="#">
               <div class="property-social-icons">
                <i class="fas fa-heart"></i>
               </div>
             </a>
           </article>
           <article class="property-box">
                 <p class = 'property-box-p '>$Precio</p>
                 <button class="checkout-button">Checkout</button>
           </article>
         </article>
        </article>
    </main>

  </body>
</html>
