<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head') %>
    <body>
        <%- include('partials/header') %>
        <main>
            <section class = 'main-login-container'>
                <video src="../../public/img/Music - 35889.mp4" autoplay loop playsinline muted></video>
                <article id = 'login-box'>
                    <article class ='login-containers'>
                        <img id="login-logo"src="../../public/img/LOGO_DEMO.png">
                        <p>Please provide you registered email</p>
                    </article>
                    <article class = "login-containers">
                        <form action="/" method="POST">
                            <input type="email" name="user" placeholder="Email Address*" required>
                            <input class = 'submit-button' type="submit" value="Send me a link to reset my password">
                            <nav class = 'login-help'>
                                <a   href="/login">Sign in</a>
                                <a   href="/register">Don't have an account? Sign up</a>
                            </nav>
                        </form>
                    </article>
                </article>
            </section>
        </main>
    </body>
</html>