<footer>
    <section id="footer_newsteller">
        <h2>No te pierdas nada!</h2>
        <p>dasdasdadasdasdasdadadasdasda</p>
        <form id="footer_newsteller_form">
             <input type="email" id="email_input" placeholder="Tu correo...">
             <button type="submit">Subscribirme</button>
        </form>
    </section>
    <section id="footer_redes">
        <h2>Seguinos en redes :)</h2>
        <nav id="redes">
         <a href="" id='first'><i class="fab fa-twitter" ></i></a>
         <a href=""><i class="fab fa-instagram"></i></a>
         <a href=""><i class="fab fa-discord"></i></a>
         <a href=""><i class="fab fa-reddit-alien"></i></a>
         </nav>
    </section>

    <!-- <section id="footer_aboutus">
         <img src="../../public/img/LOGO_DEMO.png">
         <h>new future</h>
         <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, praesentium accusantium.</p>
     </section> -->

    <section id="footer_links">
        <nav class="footer_links_list">
            <h2>titulo</h2>
            <ul>
                <li>uno</li>
                <li>dos</li>
                <li>tres</li>
                <li>cuatro</li>
            </ul>
        </nav>

        <nav class="footer_links_list">
         <h2>titulo</h2>
         <ul>
             <li>uno</li>
             <li>dos</li>
             <li>tres</li>
             <li>cuatro</li>
         </ul>
     </nav>

     <nav class="footer_links_list">
         <h2>titulo</h2>
         <ul>
             <li>uno</li>
             <li>dos</li>
             <li>tres</li>
             <li>cuatro</li>
         </ul>
     </nav>

     <nav class="footer_links_list">
         <h2>titulo</h2>
         <ul>
             <li>uno</li>
             <li>dos</li>
             <li>tres</li>
             <li>cuatro</li>
         </ul>
     </nav>
    </section>     
 </footer>