<section id="profile_banner">
    <div id="profile_background">
        <div id="profile_userbox">
            <% if(user.authorProfilePic) {%>
                <div class="profile_photo"><img src="../../../public/img/usersProfile/<%- user.authorProfilePic%>"></div>
            <%} else{%>
                <div class="profile_photo"><img src="../../../public/img/usersProfile/defaultUsersPic.png"></div>
            <% }%>
            <h3 id="user_name"><%- user.authorUsername%></h3>
        </div>
    </div>
</section>