<section id="profile_banner">
    <div id="profile_background">
        <div id="profile_userbox">
            <div class="profile_photo"><img src="/public/img/nft-example-3.jpg"></div>
            <h3 id="user_name">Mr. Anderson</h3>
        </div>
    </div>
</section>